form {
    display: flex;
    flex-direction: column;
}

#button-nickname {
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 0.9rem;
    padding-right: 2.5rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}

#button-nickname:hover {
    background-color: rgb(85, 85, 85);
    color: rgb(218, 218, 218);
}