#div-message-messaging {
    margin-top: 300px;
}

#button-group-new-chat {
    display: flex;
    justify-content:space-around;
}

#div-input-messagerie-email {
    display: flex;
    flex-direction: column;
}